<table>
  <tbody>
    <% @searches.each do |search| %>
      <tr class="post">
        <td>
          <%= link_to like_search_path(search), method: :put do %>
            <i class="fa fa-caret-up fa-lg " aria-hidden="true"></i>
                <% end %>
            <br>
            <%= link_to dislike_search_path(search), method: :put do %>
              <i class="fa fa-caret-down fa-lg " aria-hidden="true"></i>
          <% end %>

          <%= link_to search.title, search, class: "title" %>
        </td>
        <tr class="post">
          <td> <p><%= search.get_upvotes.size %> points by <%= search.user.email %> <%= time_ago_in_words(search.created_at) %> ago | <%= link_to "#{search.comments.count} comments", search %> </p></td>
        </tr>
      </tr>
    <% end %>
  </tbody>
</table>
